{{>partials/header}}
<h2>Qual seu nome ? </h2>
<form method="GET">
    <input type="text" name="nome" placeholder="Digite seu nome" /><br>
    <input type="submit" value="Enviar">
    </form>
{{#nome}}
    <hr/>
     opa {{nome}}, tudo bem ? 
     você tem {{idade}} anos ?
    {{/nome}}

{{>partials/footer}}